<% const post = (await table('posts').find({ slug: params.slug })).data[0]; if
(post) { %> <% const posts = (await table('posts').find({})).data; _%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= post.title %>></title>

    <%- await include('./parts/header.ejs') %>
  </head>

  <body class="font-sans select-none">
    <%- await include('./parts/navigator.ejs') %>

    <div class="p-4 max-w-3xl mx-auto">
      <h1
        class="text-center text-xl leading-8 font-semibold bg-white md:text-2xl md:leading-9"
      >
        <%= post.title %>
      </h1>
      <div
        class="my-2 text-center text-xs italic md:text-sm md:not-italic md:static"
      >
        <%= moment(post.createdAt).format('YYYY.MM.DD') %>
      </div>
      <div class="flex bg-gray-50 overflow-hidden items-center">
        <img
          src="<%= post.image %>"
          class="w-12 h-12 object-cover flex-none"
        />
        <div class="text-xs px-2 max-h-12"><%= post.desc %></div>
      </div>
      <div class="content"><%- post.content %></div>
    </div>

    <%- await include('./parts/footer.ejs') %>
  </body>
</html>
<% } _%>
